@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Productos */
.productos {
    padding: 50px 20px;
    text-align: center;
}

.productos h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.producto-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.producto-card:hover {
    transform: translateY(-10px);
}

.producto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto-card h3 {
    font-size: 20px;
    margin-top: 15px;
}

.producto-card p {
    color: #d32f2f;
    font-size: 18px;
    margin: 10px 0;
}

.btn-ver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-ver:hover {
    background-color: #c2185b;
}





/* Footer */
footer {
    text-align: center;
    background-color: #f5f5f5; /* Fondo claro para un estilo más minimalista */
    color: #333; /* Texto oscuro para una mejor legibilidad */
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
    color: #666; /* Un color más suave para el texto */
    margin: 0; /* Elimina margen adicional */
}



